.map{
    width: 100%;
    height: 40%;
    display: flex;
}
.map iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width:768px){
    .map{
        width: 100%;
        height: 30%;
        display: flex;
    }
    .map iframe{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}